Sudoku Game/Microsoft.Flow/flows/2f1c5cb4-c44d-4434-aac9-e837367dc84b/definition.json
{"name":"b278c09d-8a1c-cc8d-101e-cdca02020393","id":"/providers/Microsoft.Flow/flows/b278c09d-8a1c-cc8d-101e-cdca02020393","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Sudoku App - Sync User Data","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"098cd559-69a0-46d8-ab17-b7d1b92b70ad"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"data_array","type":"string","x-ms-dynamically-added":true,"description":"user data array","x-ms-content-hint":"TEXT"},"text_1":{"title":"user_name","type":"string","x-ms-dynamically-added":true,"description":"user name","x-ms-content-hint":"TEXT"},"text_2":{"title":"user_id","type":"string","x-ms-dynamically-added":true,"description":"user id","x-ms-content-hint":"TEXT"},"boolean":{"title":"clear_all_data","type":"boolean","x-ms-dynamically-added":true,"description":"Clear user data","x-ms-content-hint":"BOOLEAN"},"number":{"description":"Stats count from app","title":"stats_count","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true}},"required":["text","text_1","text_2","boolean","number"]}}}},"actions":{"Find_files_in_folder_by_path":{"runAfter":{"file_name":["Succeeded"]},"metadata":{"operationMetadataId":"5dff5c89-4394-4f48-a2d1-41c1f18d91a2"},"type":"OpenApiConnection","inputs":{"parameters":{"query":"@trim(last(split(triggerBody()['text_1'],' ')))","path":"/Power App Data/Sudoku App","findMode":"OneDriveSearch","maxFileCount":10},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","operationId":"FindFilesByPath","connectionName":"shared_onedriveforbusiness"}}},"file_name":{"runAfter":{"Condition_-_Subsequent_App_Session_Run":["Succeeded"]},"metadata":{"operationMetadataId":"b5d4a62a-ce71-4f55-9d02-5d6118cdf079"},"type":"Compose","inputs":"sudoku_@{trim(last(split(triggerBody()['text_1'],' ')))}"},"Create_File_If_Not_Exists":{"actions":{"Create_file":{"metadata":{"operationMetadataId":"f2ccafe8-8e7e-495b-9156-2eba6fb40809"},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/Power App Data/Sudoku App","name":"@{outputs('file_name')}.txt","body":"\n@{outputs('JSON_Array_Data_from_App')}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","operationId":"CreateFile","connectionName":"shared_onedriveforbusiness"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"Compose_sudoku_grid":["Succeeded"]},"else":{"actions":{}},"expression":{"equals":["@length(body('Find_files_in_folder_by_path'))",0]},"metadata":{"operationMetadataId":"ca26c9e9-6e1d-4477-817a-6d8a94368967"},"type":"If"},"Get_file_content":{"runAfter":{"Create_File_If_Not_Exists":["Succeeded"]},"metadata":{"operationMetadataId":"f1d9a0d4-b3fd-437e-81a4-599c15516d45"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@coalesce(\r\noutputs('Create_file')?['body/Id'],\r\nFirst(body('Find_files_in_folder_by_path'))?['Id'])","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","operationId":"GetFileContent","connectionName":"shared_onedriveforbusiness"}}},"JSON_Array_Data_from_App":{"runAfter":{"Find_files_in_folder_by_path":["Succeeded"]},"type":"Compose","inputs":"@json(coalesce(triggerBody()?['text'],'[]'))"},"JSON_Array_Data_from_File":{"runAfter":{"Get_file_content":["Succeeded"]},"type":"Compose","inputs":"@json(\r\nbody('Get_file_content')\r\n)"},"JSON_Array_Updated_Data_Final":{"runAfter":{"JSON_Array_Data_from_File":["Succeeded"]},"type":"Compose","inputs":"@union(outputs('JSON_Array_Data_from_File'),outputs('JSON_Array_Data_from_App'))"},"Compose_sudoku_grid":{"runAfter":{"JSON_Array_Data_from_App":["Succeeded"]},"type":"Compose","inputs":"@string(first(outputs('JSON_Array_Data_from_App'))?['sudoku'])"},"Update_file":{"runAfter":{"JSON_Array_Updated_Data_Final":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@coalesce(\noutputs('Create_file')?['body/Id'],\nFirst(body('Find_files_in_folder_by_path'))?['Id'])","body":"@outputs('JSON_Array_Updated_Data_Final')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","operationId":"UpdateFile","connectionName":"shared_onedriveforbusiness"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Condition_-_Subsequent_App_Session_Run":{"actions":{"Respond_to_a_Power_App_or_flow_(Subsequent_Runs)":{"metadata":{"operationMetadataId":"51d03a34-840d-4672-adae-200e6b2285f9"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"data_array":{"title":"data_array","x-ms-dynamically-added":true,"type":"string"},"data_array_len":{"title":"data_array_len","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true}},"additionalProperties":{}},"statusCode":200,"body":{"data_array":"{\"array\": @{triggerBody()?['text']}}","data_array_len":"@triggerBody()?['number']"}}}},"runAfter":{},"else":{"actions":{}},"expression":{"and":[{"greater":["@triggerBody()?['number']",0]}]},"type":"If"},"Condition_First_App_Session":{"actions":{"Respond_to_a_Power_App_or_flow_(First_Load)":{"metadata":{"operationMetadataId":"51d03a34-840d-4672-adae-200e6b2285f9"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"data_array":{"title":"data_array","x-ms-dynamically-added":true,"type":"string"},"data_array_len":{"title":"data_array_len","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true}},"additionalProperties":{}},"statusCode":200,"body":{"data_array":"{\"array\":@{outputs('JSON_Array_Updated_Data_Final')}}","data_array_len":"@length(outputs('JSON_Array_Updated_Data_Final'))"}}}},"runAfter":{"Update_file":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@triggerBody()?['number']",0]}]},"type":"If"}}},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-88bf3533-8b78-473e-b9ba-2dc301533f62","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness"}},"flowFailureAlertSubscribed":false,"isManaged":false}}